<!-- Content Area -->

<div class="row y-gap-20 justify-between items-end pb-60 lg:pb-40 md:pb-32">
    <div class="col-auto">

        <h1 class="text-30 lh-14 fw-600">Booking History 1</h1>
        <div class="text-15 text-light-1">This is Namori Travel Theme.</div>

    </div>

    <div class="col-auto">
    </div>
</div>


<div class="py-30 px-30 rounded-4 bg-white shadow-3">
    <div class="tabs -underline-2 js-tabs">
        <div class="tabs__controls row x-gap-40 y-gap-10 lg:x-gap-20 js-tabs-controls">
            <div class="col-auto">
                <button class="tabs__button text-18 lg:text-16 text-light-1 fw-500 pb-5 lg:pb-0 js-tabs-button is-tab-el-active" data-tab-target=".-tab-item-1">All Booking 1</button>
            </div>
        </div>

        <div class="tabs__content pt-30 js-tabs-content">

            <div class="tabs__pane -tab-item-1 is-tab-el-active">
                <div class="overflow-scroll scroll-bar-1">
                    <table class="table-3 -border-bottom col-12">
                        <thead class="bg-light-2">
                            <tr>
                                <th>1 Type</th>
                                <th>2 Title</th>
                                <th>3 Order Date</th>
                                <th>4 Execution Time</th>
                                <th>5 Total</th>
                                <th>6 Paid</th>
                                <th>7 Remain</th>
                                <th>8 Status</th>
                                <th>9 Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>Hotel</td>
                                <td>The May Fair Hotel</td>
                                <td>04/04/2022</td>
                                <td class="lh-16">Check in : 05/14/2022<br>Check out : 05/29/2022</td>
                                <td class="fw-500">$130</td>
                                <td>$0</td>
                                <td>$35</td>
                                <td><span class="rounded-100 py-4 px-10 text-center text-14 fw-500 bg-yellow-4 text-yellow-3">Pending</span></td>

                                <td>
                                    <div class="dropdown js-dropdown js-actions-1-active">
                                        <div class="dropdown__button d-flex items-center rounded-4 text-blue-1 bg-blue-1-05 text-14 px-15 py-5" data-el-toggle=".js-actions-1-toggle" data-el-toggle-active=".js-actions-1-active">
                                            <span class="js-dropdown-title">Actions</span>
                                            <i class="icon icon-chevron-sm-down text-7 ml-10"></i>
                                        </div>

                                        <div class="toggle-element -dropdown-2 js-click-dropdown js-actions-1-toggle">
                                            <div class="text-14 fw-500 js-dropdown-list">

                                                <div><a href="#" class="d-block js-dropdown-link">Details</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Invoice</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Confirm</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Cancel</a></div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Hotel</td>
                                <td>The May Fair Hotel</td>
                                <td>04/04/2022</td>
                                <td class="lh-16">Check in : 05/14/2022<br>Check out : 05/29/2022</td>
                                <td class="fw-500">$130</td>
                                <td>$0</td>
                                <td>$35</td>
                                <td><span class="rounded-100 py-4 px-10 text-center text-14 fw-500 bg-blue-1-05 text-blue-1">Confirmed</span></td>

                                <td>
                                    <div class="dropdown js-dropdown js-actions-2-active">
                                        <div class="dropdown__button d-flex items-center rounded-4 text-blue-1 bg-blue-1-05 text-14 px-15 py-5" data-el-toggle=".js-actions-2-toggle" data-el-toggle-active=".js-actions-2-active">
                                            <span class="js-dropdown-title">Actions</span>
                                            <i class="icon icon-chevron-sm-down text-7 ml-10"></i>
                                        </div>

                                        <div class="toggle-element -dropdown-2 js-click-dropdown js-actions-2-toggle">
                                            <div class="text-14 fw-500 js-dropdown-list">

                                                <div><a href="#" class="d-block js-dropdown-link">Details</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Invoice</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Confirm</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Cancel</a></div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Hotel</td>
                                <td>The May Fair Hotel</td>
                                <td>04/04/2022</td>
                                <td class="lh-16">Check in : 05/14/2022<br>Check out : 05/29/2022</td>
                                <td class="fw-500">$130</td>
                                <td>$0</td>
                                <td>$35</td>
                                <td><span class="rounded-100 py-4 px-10 text-center text-14 fw-500 bg-red-3 text-red-2">Rejected</span></td>

                                <td>
                                    <div class="dropdown js-dropdown js-actions-3-active">
                                        <div class="dropdown__button d-flex items-center rounded-4 text-blue-1 bg-blue-1-05 text-14 px-15 py-5" data-el-toggle=".js-actions-3-toggle" data-el-toggle-active=".js-actions-3-active">
                                            <span class="js-dropdown-title">Actions</span>
                                            <i class="icon icon-chevron-sm-down text-7 ml-10"></i>
                                        </div>

                                        <div class="toggle-element -dropdown-2 js-click-dropdown js-actions-3-toggle">
                                            <div class="text-14 fw-500 js-dropdown-list">

                                                <div><a href="#" class="d-block js-dropdown-link">Details</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Invoice</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Confirm</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Cancel</a></div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Hotel</td>
                                <td>The May Fair Hotel</td>
                                <td>04/04/2022</td>
                                <td class="lh-16">Check in : 05/14/2022<br>Check out : 05/29/2022</td>
                                <td class="fw-500">$130</td>
                                <td>$0</td>
                                <td>$35</td>
                                <td><span class="rounded-100 py-4 px-10 text-center text-14 fw-500 bg-blue-1-05 text-blue-1">Confirmed</span></td>

                                <td>
                                    <div class="dropdown js-dropdown js-actions-4-active">
                                        <div class="dropdown__button d-flex items-center rounded-4 text-blue-1 bg-blue-1-05 text-14 px-15 py-5" data-el-toggle=".js-actions-4-toggle" data-el-toggle-active=".js-actions-4-active">
                                            <span class="js-dropdown-title">Actions</span>
                                            <i class="icon icon-chevron-sm-down text-7 ml-10"></i>
                                        </div>

                                        <div class="toggle-element -dropdown-2 js-click-dropdown js-actions-4-toggle">
                                            <div class="text-14 fw-500 js-dropdown-list">

                                                <div><a href="#" class="d-block js-dropdown-link">Details</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Invoice</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Confirm</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Cancel</a></div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td>Hotel</td>
                                <td>The May Fair Hotel</td>
                                <td>04/04/2022</td>
                                <td class="lh-16">Check in : 05/14/2022<br>Check out : 05/29/2022</td>
                                <td class="fw-500">$130</td>
                                <td>$0</td>
                                <td>$35</td>
                                <td><span class="rounded-100 py-4 px-10 text-center text-14 fw-500 bg-blue-1-05 text-blue-1">Confirmed</span></td>

                                <td>
                                    <div class="dropdown js-dropdown js-actions-5-active">
                                        <div class="dropdown__button d-flex items-center rounded-4 text-blue-1 bg-blue-1-05 text-14 px-15 py-5" data-el-toggle=".js-actions-5-toggle" data-el-toggle-active=".js-actions-5-active">
                                            <span class="js-dropdown-title">Actions</span>
                                            <i class="icon icon-chevron-sm-down text-7 ml-10"></i>
                                        </div>

                                        <div class="toggle-element -dropdown-2 js-click-dropdown js-actions-5-toggle">
                                            <div class="text-14 fw-500 js-dropdown-list">

                                                <div><a href="#" class="d-block js-dropdown-link">Details</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Invoice</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Confirm</a></div>

                                                <div><a href="#" class="d-block js-dropdown-link">Cancel</a></div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Pagination -->
    <div class="pt-30">
        <div class="row justify-between">
            <div class="col-auto">
                <button class="button -blue-1 size-40 rounded-full border-light">
                    <i class="icon-chevron-left text-12"></i>
                </button>
            </div>

            <div class="col-auto">
                <div class="row x-gap-20 y-gap-20 items-center">

                    <div class="col-auto">

                        <div class="size-40 flex-center rounded-full">1</div>

                    </div>

                    <div class="col-auto">

                        <div class="size-40 flex-center rounded-full bg-dark-1 text-white">2</div>

                    </div>

                    <div class="col-auto">

                        <div class="size-40 flex-center rounded-full">3</div>

                    </div>

                    <div class="col-auto">

                        <div class="size-40 flex-center rounded-full bg-light-2">4</div>

                    </div>

                    <div class="col-auto">

                        <div class="size-40 flex-center rounded-full">5</div>

                    </div>

                    <div class="col-auto">

                        <div class="size-40 flex-center rounded-full">...</div>

                    </div>

                    <div class="col-auto">

                        <div class="size-40 flex-center rounded-full">20</div>

                    </div>

                </div>
            </div>

            <div class="col-auto">
                <button class="button -blue-1 size-40 rounded-full border-light">
                    <i class="icon-chevron-right text-12"></i>
                </button>
            </div>
        </div>
    </div>
    <!-- Pagination END -->
</div>

<!-- content area end  -->