@using NamoriTravel.Authorize
@model NamoriTravel.Models.AccessManagementViewModel

@{
    ViewData["Title"] = "Access Management";
    var Groups = ViewBag.Groups as List<UserViewModel>;
    var Pages = ViewBag.Pages as List<PageViewModel>;
    var pagePermissions = ViewBag.PagePermissions as Dictionary<string, List<string>>;
    var hasDetailsPermission = PermissionHelper.HasPermission(pagePermissions, "AccessManagement", "Read");
    var hasEditPermission = PermissionHelper.HasPermission(pagePermissions, "AccessManagement", "Update");
}

<h2>Access Management</h2>

<div class="form-group">
    <label for="GroupDropdown">Select User</label>
    <select id="GroupDropdown" class="form-control">
        <option value="">Select User</option>
        @foreach (var item in Model.Groups)
        {
            <option value="@item.Id">@item.GroupName</option>
        }
    </select>
</div>


<div class="form-group">
    <label for="TypeDropdown">Select Type</label>
    <select id="TypeDropdown" class="form-control">
        <option value="">Select Type</option>
        <option value="Pages">Pages</option>
    </select>
</div>



<div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-6">
                        <h5 style="margin-top: 5px;">@ViewBag.TblTitle</h5>
                    </div>
                    <div class="col-6"style="text-align: end;">
                    </div>
                </div>
               
               
            </div>
            <div class="card-body">
               <div id="TreeViewContainer"></div>
            </div>
        </div>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#GroupDropdown').change(function () {
                var groupID = $(this).val();
                if (groupID) {
                    $('#TypeDropdown').prop('disabled', false);
                } else {
                    $('#TypeDropdown').prop('disabled', true);
                    $('#TreeViewContainer').html('');
                }
            });

        $('#TypeDropdown').change(function () {
            var groupID = $('#GroupDropdown').val();
            var type = $(this).val();
            if (type) {
                $.ajax({
                    url: '@Url.Action("GetAccessData", "AccessManagement")',
                    data: { GroupID: groupID, type: type },
                    success: function (data) {
                        console.log('AJAX request succeeded:', data);
                        $('#TreeViewContainer').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('AJAX request failed:', status, error);
                        console.error('Response text:', xhr.responseText);
                        alert('An error occurred while processing your request. Please try again.');
                    },
                    complete: function () {
                        console.log('AJAX request completed.');
                    }
                });
            } else {
                $('#TreeViewContainer').html('');
            }
        });

        });
    </script>
    }